.login-container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20230521/pngtree-commercial-electronics-store-of-many-screens-image_2667345.jpg') no-repeat center center fixed; /* Imagen centrada */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    height: 100vh; /* Altura completa de la ventana */
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.login-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(249, 249, 249, 0.95);
    backdrop-filter: blur(10px);
}


.form-group {
    margin-bottom: 15px; /* Espaciado entre grupos de formulario */
}

label {
    display: block; /* Asegura que la etiqueta ocupe todo el ancho */
    margin-bottom: 5px; /* Espaciado debajo de la etiqueta */
    font-weight: bold; /* Negrita para las etiquetas */
}

.form-input {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px; /* Espaciado interno para el campo */
    border: 1px solid #ccc; /* Borde del campo de entrada */
    border-radius: 4px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave para el borde */
}

.form-input:focus {
    border-color: #007bff; /* Color del borde al enfocar */
    outline: none; /* Elimina el contorno predeterminado */
}

.error-message {
    color: red; /* Color del mensaje de error */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    margin-top: 5px; /* Espaciado superior para el mensaje de error */
}

.submit-button {
    width: 100%; /* Botón ocupa todo el ancho */
    padding: 10px; /* Espaciado interno para el botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

.submit-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor por encima */
}
